<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="navbar-icon"></span>
        EJS Header
      </a>
      <ul class="navbar-selections">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
